@import "tailwindcss";

:root {
  --text: #faf8f2;
  --golden: #e1c06e;
  --dark-golden: #c1842d;
}

@theme inline {
  --color-text: var(--text);
  --color-golden: var(--golden);
  --color-dark-golden: var(--dark-golden);
}
