@import "tailwindcss";
@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";

:root {
  --light: #faf8f2;
  --golden: #e1c06e;
  --dark-golden: #c1842d;
  --dark: #22242d;
}

@theme inline {
  --color-light: var(--light);
  --color-golden: var(--golden);
  --color-dark-golden: var(--dark-golden);
  --color-dark: var(--dark);
}

@theme {
  --font-impact: var(--font-impact);
  --font-neue: var(--font-neue);
}

body {
  background-image: url("../public/assets/bg.svg");
  background-position: initial;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: var(--font-neue);
}

.box {
  position: relative;
  border-radius: 12px;
  background: transparent; /* Fully transparent background */
  padding: 10px;
}

.box::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 12px;
  padding: 2px; /* Border width */
  background: linear-gradient(to top, #52566cb2, #ffffff1a, #52566cb2);
  -webkit-mask: linear-gradient(white, white) content-box,
    linear-gradient(white, white);
  -webkit-mask-composite: destination-out;
  mask-composite: exclude;
  pointer-events: none;
}

/* Carousel Styles */

.slick-dots li .slick-dot {
  background-color: #3b3b41;
  opacity: 0.5;
}

.slick-dots li.slick-active .slick-dot {
  background-color: #b9b8b8; /* Golden color */
  opacity: 1;
  transform: scale(1.15);
  transition: all 0.3s ease-in-out;
}

/* Hide scrollbar */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
